@use '../../../../styles/variables' as *;

.app-shell {
  display: flex;
  min-height: 100vh;
  background: #fff;
}

.main-content {
  flex: 1;
  min-width: 0;
  min-height: 100vh;
  margin-left: 397px;
  background: #fff;
}

.page-content {
  padding: 22px 58px 30px 67px;
}

@media (max-width: 1200px) {
  .main-content {
    margin-left: 300px;
  }

  .page-content {
    padding: 24px;
  }
}
