@use '../../../../styles/variables' as *;

.kpi-card {
  height: 118px;
  padding: 13px 22px 12px 26px;
  border: 1px solid #dedede;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .28);
}

.kpi-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.kpi-icon {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: #1b1b30;
  color: #fff;

  i {
    font-size: 20px;
  }
}

.kpi-change {
  color: #1b1b30;
  font-size: 15px;
  font-weight: 500;
}

.kpi-value {
  margin-top: 15px;
  color: #000;
  font-size: 25px;
  font-weight: 800;
  line-height: 1;
}

.kpi-unit {
  font-size: 15px;
}

.kpi-label {
  display: block;
  margin-top: 8px;
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
}
